.square {
  height: 100px;
  width: 100px;
  background-color: green;
  margin-bottom: 20px;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 100px;
  margin-bottom: 20px;
}

.img1 {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.profile {
  border: 1px solid black;
  display: inline-block;
  margin: 25px;
}

p,button {
  margin: 10px;
}

